@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_FrontPage.cshtml";
}
<!-- ***** Services Area Start ***** -->
<section style="padding-top:150px" class="uza-services-area section-padding-80-0">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Our Services</h2>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Single Service Area -->
            <div class="col-12 col-lg-4">
                <div class="single-service-area mb-80">
                    <!-- Service Icon -->
                    <div class="service-icon">
                        <i class="icon_cone_alt"></i>
                    </div>
                    <h5>Business Strategy</h5>
                    <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata.</p>
                </div>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-lg-4">
                <div class="single-service-area mb-80">
                    <!-- Service Icon -->
                    <div class="service-icon">
                        <i class="icon_piechart"></i>
                    </div>
                    <h5>Market Analytics</h5>
                    <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata.</p>
                </div>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-lg-4">
                <div class="single-service-area mb-80">
                    <!-- Service Icon -->
                    <div class="service-icon">
                        <i class="icon_easel"></i>
                    </div>
                    <h5>Marketing Social</h5>
                    <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata.</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ***** Services Area End ***** -->
<!-- ***** Portfolio Area Start ***** -->
<section class="uza-portfolio-area section-padding-80">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Our Portfolio</h2>
                    <p>We stay on top of our industry by being experts in yours.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <!-- Portfolio Slides -->
            <div class="portfolio-sildes owl-carousel">

                <!-- Single Portfolio Slide -->
                <div class="single-portfolio-slide">
                    <img src="~/Content/uza/img/bg-img/3.jpg" alt="">
                    <!-- Overlay Effect -->
                    <div class="overlay-effect">
                        <h4>Digital Marketing</h4>
                        <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est</p>
                    </div>
                    <!-- View More -->
                    <div class="view-more-btn">
                        <a href="#"><i class="arrow_right"></i></a>
                    </div>
                </div>

                <!-- Single Portfolio Slide -->
                <div class="single-portfolio-slide">
                    <img src="~/Content/uza/img/bg-img/4.jpg" alt="">
                    <!-- Overlay Effect -->
                    <div class="overlay-effect">
                        <h4>Digital Marketing</h4>
                        <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est</p>
                    </div>
                    <!-- View More -->
                    <div class="view-more-btn">
                        <a href="#"><i class="arrow_right"></i></a>
                    </div>
                </div>

                <!-- Single Portfolio Slide -->
                <div class="single-portfolio-slide">
                    <img src="~/Content/uza/img/bg-img/5.jpg" alt="">
                    <!-- Overlay Effect -->
                    <div class="overlay-effect">
                        <h4>Digital Marketing</h4>
                        <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est</p>
                    </div>
                    <!-- View More -->
                    <div class="view-more-btn">
                        <a href="#"><i class="arrow_right"></i></a>
                    </div>
                </div>

                <!-- Single Portfolio Slide -->
                <div class="single-portfolio-slide">
                    <img src="~/Content/uza/img/bg-img/6.jpg" alt="">
                    <!-- Overlay Effect -->
                    <div class="overlay-effect">
                        <h4>Digital Marketing</h4>
                        <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est</p>
                    </div>
                    <!-- View More -->
                    <div class="view-more-btn">
                        <a href="#"><i class="arrow_right"></i></a>
                    </div>
                </div>

                <!-- Single Portfolio Slide -->
                <div class="single-portfolio-slide">
                    <img src="~/Content/uza/img/bg-img/5.jpg" alt="">
                    <!-- Overlay Effect -->
                    <div class="overlay-effect">
                        <h4>Digital Marketing</h4>
                        <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est</p>
                    </div>
                    <!-- View More -->
                    <div class="view-more-btn">
                        <a href="#"><i class="arrow_right"></i></a>
                    </div>
                </div>

                <!-- Single Portfolio Slide -->
                <div class="single-portfolio-slide">
                    <img src="~/Content/uza/img/bg-img/6.jpg" alt="">
                    <!-- Overlay Effect -->
                    <div class="overlay-effect">
                        <h4>Digital Marketing</h4>
                        <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est</p>
                    </div>
                    <!-- View More -->
                    <div class="view-more-btn">
                        <a href="#"><i class="arrow_right"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Client Feedback Area Start -->
    <div class="clients-feedback-area mt-80 section-padding-80 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Testimonial Slides -->
                    <div class="testimonial-slides owl-carousel">

                        <!-- Single Testimonial Slide -->
                        <div class="single-testimonial-slide d-flex align-items-center">
                            <!-- Testimonial Thumbnail -->
                            <div class="testimonial-thumbnail">
                                <img src="~/Content/uza/img/bg-img/7.jpg" alt="">
                            </div>
                            <!-- Testimonial Content -->
                            <div class="testimonial-content">
                                <h4>“Colorlib Ltd’s ranking has gone up so much from the great work that your team has done and our brand get organic sales consistently from your efforts. We are happy that the results of your efforts were lasting and profitable.”</h4>
                                <!-- Ratings -->
                                <div class="ratings">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                </div>
                                <!-- Author Info -->
                                <div class="author-info">
                                    <h5>Darrell Goodman <span>- CEO colorlib</span></h5>
                                </div>
                                <!-- Quote Icon -->
                                <div class="quote-icon"><img src="img/core-img/quote.png" alt=""></div>
                            </div>
                        </div>

                        <!-- Single Testimonial Slide -->
                        <div class="single-testimonial-slide d-flex align-items-center">
                            <!-- Testimonial Thumbnail -->
                            <div class="testimonial-thumbnail">
                                <img src="~/Content/uza/img/bg-img/23.jpg" alt="">
                            </div>
                            <!-- Testimonial Content -->
                            <div class="testimonial-content">
                                <h4>“Colorlib Ltd’s ranking has gone up so much from the great work that your team has done and our brand get organic sales consistently from your efforts. We are happy that the results of your efforts were lasting and profitable.”</h4>
                                <!-- Ratings -->
                                <div class="ratings">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                </div>
                                <!-- Author Info -->
                                <div class="author-info">
                                    <h5>Darrell Goodman <span>- CEO colorlib</span></h5>
                                </div>
                                <!-- Quote Icon -->
                                <div class="quote-icon"><img src="img/core-img/quote.png" alt=""></div>
                            </div>
                        </div>

                        <!-- Single Testimonial Slide -->
                        <div class="single-testimonial-slide d-flex align-items-center">
                            <!-- Testimonial Thumbnail -->
                            <div class="testimonial-thumbnail">
                                <img src="~/Content/uza/img/bg-img/24.jpg" alt="">
                            </div>
                            <!-- Testimonial Content -->
                            <div class="testimonial-content">
                                <h4>“Colorlib Ltd’s ranking has gone up so much from the great work that your team has done and our brand get organic sales consistently from your efforts. We are happy that the results of your efforts were lasting and profitable.”</h4>
                                <!-- Ratings -->
                                <div class="ratings">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                </div>
                                <!-- Author Info -->
                                <div class="author-info">
                                    <h5>Darrell Goodman <span>- CEO colorlib</span></h5>
                                </div>
                                <!-- Quote Icon -->
                                <div class="quote-icon"><img src="img/core-img/quote.png" alt=""></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Client Feedback Area End -->
    <!-- Border -->
    <div class="container">
        <div class="border-line"></div>
    </div>

    <!-- Background Curve -->
    <div class="portfolio-bg-curve">
        <img src="~/Content/uza/img/core-img/curve-3.png" alt="">
    </div>
</section>
<!-- ***** Portfolio Area End ***** -->
