@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_FrontPage.cshtml";
}

<!-- ***** Blog Area Start ***** -->
<section style="padding-top:150px" class="uza-blog-area">
    <!-- Background Curve -->
    <div class="blog-bg-curve">
        <img src="~/Content/uza/img/core-img/curve-4.png" alt="">
    </div>

    <!-- CTA Area Start -->
    <div class="uza-cta-area section-padding-0-80">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-8">
                    <div class="cta-content mb-80">
                        <h2>Interested in working with us?</h2>
                        <h6>Hit the button below or give us a call!</h6>
                    </div>
                </div>

                <div class="col-12 col-lg-4">
                    <div class="cta-content mb-80">
                        <div class="call-now-btn">
                            <a href="#"><span>Call us now:</span> (+65) 1234 5678</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CTA Area End -->

   
</section>
<!-- ***** Blog Area End ***** -->
<!-- ***** Newsletter Area Start ***** -->
<section class="uza-newsletter-area">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <!-- Newsletter Content -->
            <div class="col-12 col-md-6 col-lg-6">
                <div class="nl-content mb-80">
                    <h2>Subscribe to our Newsletter</h2>
                    <p>Subscribe our newsletter gor get notification about new updates, etc...</p>
                </div>
            </div>
            <!-- Newsletter Form -->
            <div class="col-12 col-md-6 col-lg-5">
                <div class="nl-form mb-80">
                    <form action="#" method="post">
                        <input type="email" name="nl-email" value="" placeholder="Your Email">
                        <button type="submit">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Border Bottom -->
        <div class="border-line"></div>
    </div>
</section>
<!-- ***** Newsletter Area End ***** -->